*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
   
}
body{
    background-color: #EAEBEB;
    max-width: 100%;
    font-size: 1.6rem;
}    

.topo{font-family: Poppins;
   width: 100%;       
    background-color:#302F2F;
    height: 10rem;

    
}
.content {
   max-width: 100%;    
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
nav {
    width: 100%;
    height: 12.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

.logo{padding: 1rem;
    width: 15%;    
    margin: auto;    
    display: flex;
    
   
}

.infomenu{    
    font-size: 3.5rem;  
    margin: auto;  
    display: flex;
    list-style: none;
    font-weight: bold;
    color: white;
    text-align: center;    
    justify-content: space-between;

}
 

.menu{margin: auto;
    display: flex;    
    background-color:#D83B3B;
    height: 8rem;
    width: 100%;       
    align-items: center;
    
}
.listmenu{ margin: auto;    
    list-style: none;
    display: flex;
    letter-spacing: .3rem;  
    font-family: Poppins;
    font-size: 2.1rem;
    font-weight: bold;
    color: white;   
    
   

}
li{padding-left: 5rem;      
   
    
}
 
 

.ret{
    display: flex;
    margin: auto;
    margin-top: 5rem;
    text-transform: uppercase;
    background-color:#302F2F ;
    height: 7rem;
    width: 65%;           
    align-items: center;
    border-top: solid .5rem #D83B3B;
}
h2{
    font-size: 3rem;
     letter-spacing: .5rem;
      font-family: Poppins;
      color: white; 
    margin: auto;
}

.catalog{
   padding-top: 2rem;
    width: 80%;
     margin: auto;                     
    font-family: Kanit, sans-serif;
 }
  .catalogcars {      
    
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    grid-gap: 12rem; 
    padding-top:3rem;   
    font-family: Kanit, sans-serif;
  }
  section .card-item {
   
    height: 30rem;
    background: #E2e3e3;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;   
   
  }
  
  .card-item img {
    width: 80%;
  }
  .card-item h3 {
    font-size: 3rem;
    width: 100%;
     text-align: center;
  }
  
  .card-item p {
    text-align: center;
     
     font-size: 1.7rem;
     color: #D83B3B 
   
    
  }
  .price{
    
      font-size: 3rem;
  }
  
  .card-item button {
    height: 60rem; 
    padding: .3rem 1rem;     
    border: none;
    background: #D83B3B;
    border-radius: .4rem;
    color: white;
    font-family: kanit;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s ease;    
    
  }
  
  .card-item button:hover {
    background: #302F2F;
    color: #D83B3B;
  }





    

  @media (max-width: 700px) {
        
  .listmenu{
              
      padding: 0;
      align-items: center;
      letter-spacing: 0;
      text-align: center;
      font-size: 1.2rem;
      
      
  }
  li{padding: 2rem;
    margin-top: 0;   
    
}
.infomenu{
    font-size: 2rem;
    
}
.ret{
        
    text-transform: uppercase;
    background-color:#302F2F ;
    height: 5rem;
    width: 75%;           
    align-items: center;
    border-top: solid .5rem #D83B3B;
}
  h2{
    text-align: center;
    padding: 0;
    margin: auto;
    font-size:1.3rem;
  }
  .catalogcars {
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap:6.1rem ;

    
  }
  section .card-item {
   
    height: 35rem;
    background: #E2e3e3;
    
    
    
  }
  .card-item img {
    width: 75%;
    padding-top: 1rem;
  }
  .card-item h3 {
    font-size: 2.5rem;
         text-align: center;
  }
  
  .card-item p {
    text-align: center;
     
     font-size: 1.1rem;
     color: #D83B3B 
   
    
  }
  .price{
    
      font-size: 2rem;
  }
  .card-item button {
      width: 112%;
      font-size: 1rem;
  }
 
  
  }
  