*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
   
}
body{
    background-color: #EAEBEB;
    max-width: 100%;
    font-size: 1.6rem;
    font-family: Kanit;
}    

.topo{font-family: Poppins;
   width: 100%;       
    background-color:#302F2F;
    height: 12rem;
    border-bottom: #D83B3B solid .5rem;
    align-items: center;
    margin: 0;
    display: flex;
    box-sizing: border-box;

    
}
footer{width: 100%;
  position: fixed;
  bottom: 0;  
  background-color:#D83B3B;
  height: 5rem;
  color: white;
  align-items: center; 
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: .3;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 1.5rem 2.5rem;
  text-align: center;
  
   
  
    
    
   
}


.num{
  list-style: none; 
  margin: auto;
  font-size: 2rem;


 
}


  

.logo{padding: 2rem;
    width: 10rem;    
    margin: auto;    
    display: flex;
    float: left;
    cursor: pointer;
   
    
   
}
 


.listmenu{ 
  margin: auto;    
  float: right;
    list-style: none;
    display: flex;
    letter-spacing: .2rem;  
    font-family: Poppins;
    font-size: 2rem;
    font-weight: bold;
    color: white; 
    padding: 2rem 1rem;
    cursor: pointer;
 
  

}
li:hover {
  transition: 0.3s;
  color: #D83B3B;
}

li{
  margin-left:3rem;
text-align: center;
 
  
}

 .ret{
    display: flex;
    margin: auto;
    margin-top: 10rem;
    text-transform: uppercase;
    background-color:#302F2F ;
    height: 7rem;
    width: 65%;           
    align-items: center;
    border-top: solid .5rem #D83B3B;
    border-radius: 5px 20px 0px 20px;
 
}
h2{
    font-size: 4rem;
     letter-spacing: .5rem;
      font-family: Poppins;
      color: white; 
    margin: auto;
}

.catalog{
   padding-top: 2rem;
    width: 80%;
     margin: auto;                     
    font-family: Kanit, sans-serif;
    flex: 1;
 }
  .catalogcars {      
    
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    grid-gap: 12rem; 
    padding-top:3rem;   
    font-family: Kanit, sans-serif;
  }
  section .card-item {
   
    height: 35rem;
    background: #E2e3e3;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;   
   
  }
  
  .card-item img {
    width: 60%;
  }
  .card-item h3 {
    font-size: 3rem;
    width: 100%;
     text-align: center;
  }
  
  .card-item p {
    text-align: center;
     
     font-size: 1.7rem;
     color: #D83B3B 
   
    
  }
  .price{
    
      font-size: 3rem;
  }
  
  .card-item button {
    height: 60rem; 
    padding: .3rem 1rem;     
    border: none;
    background: #D83B3B;
    border-radius: .4rem;
    color: white;
    font-family: kanit;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s ease;    
    
  }
  
  .card-item button:hover {
    background: #302F2F;
    color: #D83B3B;
  }
 
  




    

  @media (max-width: 780px) {
     .topo{flex-direction: column;
      padding: 1rem;
     }   

    .logo{float: none;
      width: 10rem;  
      position: absolute; 
      align-items: center;
   
     
     
  }
  .listmenu{
    margin-top: 3rem;
    padding: 3rem 0rem;
  }

.ret{
        
    text-transform: uppercase;
    background-color:#302F2F ;
    height: 5rem;
    width: 75%;           
    align-items: center;
    border-top: solid .5rem #D83B3B;
}
  h2{
    text-align: center;
    padding: 0;
    margin: auto;
    font-size:1.3rem;
  }
  .catalogcars {
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap:6.1rem ;

    
  }
  section .card-item {
   
    height: 35rem;
    background: #E2e3e3;
    
    
    
  }
  .card-item img {
    width: 75%;
    padding-top: 1rem;
  }
  .card-item h3 {
    font-size: 2.5rem;
         text-align: center;
  }
  
  .card-item p {
    text-align: center;
     
     font-size: 1.1rem;
     color: #D83B3B 
   
    
  }
  .price{
    
      font-size: 2rem;
  }
  .card-item button {
      width: 112%;
      font-size: 1rem;
  }
  footer{width: 375px;   
    height: 4rem;  
    letter-spacing: .1;
    display: flex;
   
    padding: 1rem 1rem;
  

  }
  .num{
    font-size: 1rem;
  }

  
   
  
  
}